$mobile: 767px;
$notebook: 1023px;

$default-font-family: Roboto, sans-serif;
$default-white: #fff;

$body-background-color: #f5f6fa;

$header-background-color: #182C61;

$button-background-color: #44bd32;
$button-hover-background-color: #4cd137;